<a href="https://colab.research.google.com/github/shangar-eshwar-24/EDA_for_Customer_tier_Dataset/blob/main/EDA_for_Customer_tier_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# IMPORTANT: SOME KAGGLE DATA SOURCES ARE PRIVATE
# RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES.
import kagglehub
kagglehub.login()

In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.

shangaranarayanan_customer_tier_classification_path = kagglehub.dataset_download('shangaranarayanan/customer-tier-classification')

print('Data source import complete.')

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
d=pd.read_csv('/kaggle/input/customer-tier-classification/customer_tier_classification.csv')
d.head()

,id,age,income_k,credit_score,clicks_7d,is_premium,email_verified,city,segment,tenure_bucket,device,tier
0,306,23,47.78,62.5,4,False,True,NaN,B,NaN,Android,Silver
1,622,32,55.44,79.5,6,True,True,Kochi,A,NaN,Web,Gold
2,704,31,33.81,75.3,4,False,True,Bengaluru,A,3-5y,Android,Gold
3,458,24,13.80,78.5,8,False,True,Delhi,D,1-3y,Android,Bronze
4,171,26,15.79,75.0,4,False,True,NaN,A,5+y,iOS,Bronze

In [ ]:
d.shape

(1218, 12)

In [ ]:
d.isna().sum()

id                 0
age                0
income_k          90
credit_score      74
clicks_7d          0
is_premium         0
email_verified     7
city              48
segment           25
tenure_bucket     31
device             0
tier               0
dtype: int64

In [ ]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1218 non-null   int64
 1   age             1218 non-null   int64
 2   income_k        1128 non-null   float64
 3   credit_score    1144 non-null   float64
 4   clicks_7d       1218 non-null   int64
 5   is_premium      1218 non-null   bool
 6   email_verified  1211 non-null   object
 7   city            1170 non-null   object
 8   segment         1193 non-null   object
 9   tenure_bucket   1187 non-null   object
 10  device          1218 non-null   object
 11  tier            1218 non-null   object
dtypes: bool(1), float64(2), int64(3), object(6)
memory usage: 106.0+ KB

In [ ]:
d.describe()

                id          age     income_k  credit_score    clicks_7d
count  1218.000000  1218.000000  1128.000000   1144.000000  1218.000000
mean    601.366174    32.059934    47.100319     65.889073     3.956486
std     346.482696     8.400837    52.372401     14.742599     2.794332
min       1.000000    18.000000     6.730000     22.100000     0.000000
25%     301.250000    26.000000    24.790000     55.575000     2.000000
50%     602.500000    32.000000    36.585000     65.700000     3.000000
75%     900.750000    38.000000    52.360000     76.300000     6.000000
max    1200.000000    61.000000   939.310000    100.000000    14.000000

In [ ]:
d.duplicated().sum()

np.int64(18)

In [ ]:
d['tier'].

AttributeError: 'numpy.ndarray' object has no attribute 'count'